html, body {width:100%}
* {
    /* global styles */
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
}
.nav-wrapper {
    height: 5em;
    line-height: 5em;
    margin: 0em 2em;
}
nav {
    padding: 1em;
    background-color: #6CB6DF;
    overflow: auto;
}
nav * {
    color: white;
}
nav h1 {
    float: left;
}
nav ul {
    list-style-type: none;
}
nav li {
    float: right;
    margin-left: 2em;
}
a {
   text-decoration: none; 
   font-size: 3em;
}
nav li:hover {
   text-decoration: underline;
}
h1 {
   font-size: 5em;
}
