<html>

    <head>
        <title>{% block title %}{% endblock %} - KJK Maths</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
                <h1>Akonga Maths</h1>
                <ul>
                    <li><a>Home</a></li> 
                    <li><a>Leaderboard</a></li>
                </ul>
            </div>
        </nav>
        {% block content %}

        {% endblock %}
    </body>
</html>
